
#general{
    background-color: rgba(47, 192, 192, 0.116)  !important ;
    border-radius: 20px 0px 0px 0px;
    border-bottom: 30px solid rgba(176, 176, 236, 0.007), 0.219) !important;
}
#navy{
    background-color: navy !important;
}