
#general{
    background-color: rgba(47, 192, 192, 0.116)  !important ;
    border-radius: 20px 0px 0px 0px;
    border-bottom: 30px solid rgba(164, 164, 196, 0.445) !important;
    padding-bottom: 0px !important;
}
